services:
  # Backend
  backend:
    container_name: chat-backend
    build: ./chat-web-backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/chatapp?schema=public"
      JWT_SECRET: "mi-secreto-super-seguro-para-jwt-12345"
      PORT: 3000
      NODE_ENV: production
      RABBITMQ_URL: "amqp://admin:admin@rabbitmq:5672"
    depends_on:
      - postgres
      - rabbitmq
    networks:
      - chat-network

  # Frontend
  frontend:
    container_name: chat-frontend
    build: ./chat-web-frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - chat-network

  # PostgreSQL
  postgres:
    image: postgres:15
    container_name: chat-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: chatapp
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - chat-network

  # RabbitMQ
  rabbitmq:
    image: rabbitmq:3-management
    container_name: chat-rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    networks:
      - chat-network

volumes:
  postgres_data:

networks:
  chat-network:
    driver: bridge
